# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production Build Outputs
/build
/dist
/out
/.next
/public/build

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Local Environment Variables and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Editor / IDE Configurations
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/styleguide.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnostic and OS Metadata
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript Cache
*.tsbuildinfo